form .wrapper {
    margin: 0 auto;
}

.header {
    width: 100%;
}

.title {
    text-align: center;
}

.form-control {
    border-radius: 20px;
}

.alert {
    margin: 0;
    padding: 5px;
}

.register_note {
    font-size: 18px;
    font-weight: 600;
}

.register_mustEnter {
    color: #e95566;
}

.register_check {
    font-size: 17px;
}