form .wrapper {
    margin: 0 auto;
}

.header {
    width: 100%;
}

.title {
    text-align: center;
}

.form-control {
    border-radius: 20px;
}

.login_footer {
    display: flex;
    justify-content: space-between;
}